/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'DryBrush';
    src: url('./assets/font/DryBrush.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'DryBrush', Roboto, "Helvetica Neue", sans-serif ; }
