
<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
        <mat-icon matTooltip="Menu">menu</mat-icon>
    </button>
    <h1>Sushi Fever</h1>
    <span class="spacer"></span>
    <button mat-icon-button (click)="configuration()">
        <mat-icon matTooltip="Configuration" class="user-icon">settings</mat-icon>
    </button>
    <button mat-icon-button (click)="login()">
        <mat-icon matTooltip="login" class="user-icon">person</mat-icon>
    </button>
    <h1 *ngIf="username$ | async as username">hello {{username}}</h1>
</mat-toolbar>