.container {
    display: flex;
    justify-content: space-around;
    .sushi{
        height: 200px;
        width: 200px;
        background-color: red;
    }

    .ramen{
        height: 200px;
        width: 200px;
        background-color: green;
    }

    .yakitori{
        height: 200px;
        width: 200px;
        background-color: blue;
    }

}